{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

    <style>
        .vh-100 {
            background-image: url('{% static "sancheck/app_images/forest.png" %}');
            background-size: cover;
        }

        .text-black {
            border-radius: 25px;
        }

        .email-img{
            width: 50%;
        }

    </style>
</head>
<body>
    <section class="vh-100">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1">
                      <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-4">Password Reset Sent</p>
                      <img class="email-img mx-auto d-block mb-5" src="{% static 'sancheck/app_images/email.png' %}">
                      <div class="d-flex flex-column align-items-center mb-3">
                        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>