{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}

    <title>Sancheck - Let's go!</title>

    {% block css_script %}
    {% endblock css_script %}

    <style>

        /* NAVIGATION SECTION */
        .navbar {
            background-color: #19332D;
        }

        .navbar-brand {
            color: white;
            font-family: 'East Sea Dokdo';
            font-size: 40px;
            line-height: 100%;
        }

    </style>

</head>
<body>
    <!-- NAVIGATION SECTION -->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <!-- container wrapper -->
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">산책</a>
          <!-- toggle button -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-md-end" id="navbarText">
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link">Welcome, {{user}}!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Favorites</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    {% block content %}
    {% endblock content %}

    {% block myjs %}
    {% endblock myjs %}
</body>
</html>